a {
    text-decoration: none;
}

ul {
    list-style: none;
}

// .white {
//     color: #FFFFFF;
// }
.bg-white{
    color: #FFF;
    background-color: #686868 !important;
}
.black {
    color: #000000;
}
.chocolate {
    color: #D2691E;
}
.bg-chocolate {
    color:#D2691E;
    background-color: #1D0E0E;
}
.tan {
    color: #D2B48C;
}
.bg-tan {
    color: #D2B48C;
    background-color: #363636;
}
.dark-brown {
    color: #654321;
}
.pale-brown {
    color: #987654;
}
.bg-pale-brown {
    color: #987654;
    background-color: #030303;
}
.brown {
    color: #A52A2A;
}
.bg-brown {
    color: #A52A2A;
    background-color: #E6CFCF;
}
.pink {
    color: #FFC0CB;
}
.bg-pink{
    color: pink;
    background-color: #4f4f4f;
}
.blue {
    color: #0000FF;
}
.beige {
    color: #F5F5DC;
}

.bg-dark-beige {
    color: #F5F5DC;
    background-color: #685C5C;
}

.bg-primary {
    background-color: #ccc !important;
    padding: 5px;
}